body{
    background-color: #edf0f0;    
}

.p-t-10 {
    padding-top: 10px !important;
}
.media-main div.pull-left {
    width: 100px;
}
.thumb-lg {
    height: 84px;
    width: 84px;
}
.media-main .info {
    overflow: hidden;
    color: #000;
}
.media-main .info h4 {
    padding-top: 10px;
    margin-bottom: 5px;
}
.glyphicon {
    font-size: 20px;
    vertical-align:middle;
    padding: 3px;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.navbar{
    margin-bottom: 0;
    border-radius: 0;
}

.container{
    padding-top:  10px;
}

.navbar-inverse .navbar-toggle {
    border-color: white !important;
}

.navbar-inverse .navbar-toggle .icon-bar{
    background-color: white !important;
}

div{
    word-break: break-all;
}

.login{
    width: 250px;
    height: auto;
}