<html ng-app="ResearcherListApp">

<head>
    <title>Researchers Tokens</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/bower_components/socket.io-client/dist/socket.io.min.js"></script>
    <script type="text/javascript" src="/researcher-list-app.js"></script>
    <script type="text/javascript" src="/token-controller.js"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body ng-controller="TokenCtrl">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Researchers</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/api/v1/tests">Tests</a></li>
                    <li class="active"><a href="#">Tokens</a></li>
                    <li><a href="/documentation">Docs</a></li>
                    <li><a href="https://github.com/Javirln/researcher-api">GitHub</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body p-t-0">
                        <h2>Get Token</h2>
                        <hr>
                        <h4>Write your DNI and we'll create a token for you :-)</h4>
                        <form name="addTokenForm" ng-submit="createToken()" novalidate>
                            <div class="form-group" ng-class="{ 'has-error' : addTokenForm.dni.$invalid && !addTokenForm.dni.$pristine }">
                                <div class="input-group">
                                    <span class="input-group-addon">DNI</span>
                                    <input type="text" name="dni" class="form-control" placeholder="45784524X" ng-change="newToken.dni = (newToken.dni | uppercase)" ng-pattern="/(\d{8})([aA-zZ]{1})/" maxlength="9" ng-model="newToken.dni" required>
                                </div>
                                <p ng-show="addTokenForm.dni.$invalid && !addTokenForm.dni.$pristine" class="help-block">DNI is required.</p>
                            </div>
                            <div ng-class="tokenResult" class="divToken">
                                <strong>{{result}}</strong> {{tokenGenerated}}
                            </div>
                            <button type="submit" ng-disabled="addTokenForm.$invalid" class="btn btn-primary">Create!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body p-t-0">
                        <h2>Delete Token</h2>
                        <hr>
                        <h4>Write your DNI and press destroy.</h4>
                        <form name="deleteTokenForm" ng-submit="deleteToken()" novalidate>
                            <div class="form-group" ng-class="{ 'has-error' : deleteTokenForm.dni.$invalid && !deleteTokenForm.dni.$pristine }">
                                <div class="input-group">
                                    <span class="input-group-addon">DNI</span>
                                    <input type="text" name="dni" class="form-control" placeholder="45784524X" ng-change="existingToken.dni = (existingToken.dni | uppercase)" ng-pattern="/(\d{8})([aA-zZ]{1})/" ng-model="existingToken.dni" required>
                                </div>
                                <p ng-show="deleteTokenForm.dni.$invalid && !deleteTokenForm.dni.$pristine" class="help-block">DNI is required.</p>
                            </div>
                            <div ng-class="tokendeleteResult" class="divToken">
                                <strong>{{resultdelete}}</strong> {{tokendeleteGenerated}}
                            </div>
                            <button type="submit" ng-disabled="deleteTokenForm.$invalid" class="btn btn-danger">Destroy!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
